body{
    background-color: #eee ;
    margin: 0 auto;
    height: 0;
    font-family: 'Poppins', sans-serif;
    background-position: bottom;
    background-image: "https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/7d96189e-4a66-48ad-bf08-e6f850f8463e/IN-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg";
    background-attachment: fixed;
    background-size: cover;
}
/* article{
    margin: 0 auto;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; 
} */
#template{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
template div{
    width: 24%;
}
img{
    width: 100%;
}
#template a:hover{
    background-color: #111;
}
#formBlock{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 10px;
    margin-top: 13px;
    align-items: center;
}